<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Unsuccessful</title>
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <h1>Payment of <%=a%> was Unsuccessful</h1>
    <p>Your transaction was unsuccessfull.</p>
    <p>Your Account Balance is low : <%=b%> </p>
    <a href="/cart"><button>Go to Cart</button></a>
</body>
</html>