<!DOCTYPE html>
<html>

<head>
    <title>Sign in Layout</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
     
    <form id="signin" name="signin" form action="/user/create-session" method="post">
        <h2>SignIn</h2>
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>   
    <div class="bottom-span">
    <span>Don't have an account?</span><a href="/user/sign-up"><button>Create account</button></a>
    </div>
</body>

</html>