<!DOCTYPE html>
<html>
<%- include('_header'); %>

<head>
    <title>Flash Pay</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<!--  -->

<body>

    <form id="signin" name="signin" form action="/user/pay" method="post">
        <h2>Flash Pay</h2>
        <label for="text">Reciever's Phone Number</label>
        <input class="text" name="phoneNo" pattern="[0-9]{10}" type="text" required>
        <label for="text">Amount</label>
        <input class="text" name="amount" type="number" step="0.01" pattern="^[0-9]+(\.[0-9]{1,2})?$" required>
        <input class="btn" type="submit" value="Send-Money" />
    </form>
    <br>
</body>

</html>