
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.1rem;
    font-family: monospace;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,9,121,1) 48%, rgba(0,212,255,1) 100%);
}
h2{
    text-align: center;
    color: black;
}
form#signup,
form#signin {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #e5e5e3;
    padding: 32px;
    border-radius: 20px;
    border:1px solid rgb(176, 175, 175);
}

input {
    padding: 10px;
    margin: 5px 0;
    border: none;
}

input.btn {
    background: #007bff;
    color: white;
    margin: 20px 0;
    font-size:1rem;
    border: none;
}

input.btn:hover{
    cursor: pointer;
}

label {
    margin: 15px 0 5px 0;
}

.bottom-span{
    margin: 0px 660px;
    color: white;
    font-weight: bold;
}

.bottom-span button{
    padding: 6px;
    border-radius:10px;
    cursor: pointer;
}