
#page-reloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    color: rgb(247, 3, 186);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #88ff00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
}
100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
}
}

@keyframes rotateccw {
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(-360deg);
}
}

@keyframes spin {
0%,
100% {
    box-shadow: .2em 0px 0 0px currentcolor;
}
12% {
    box-shadow: .2em .2em 0 0 currentcolor;
}
25% {
    box-shadow: 0 .2em 0 0px currentcolor;
}
37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
}
50% {
    box-shadow: -.2em 0 0 0 currentcolor;
}
62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
}
75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
}
87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
}
}

  
#page-reloader.hide {
    opacity: 0;
    pointer-events: none;
}


/*  up loader down order  : done march:31:2023*/

#order {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 3%;
    margin-bottom: 200px;
    background-color: rgb(222,212,212);
}

.heading-container {
    display: grid;
    grid-template-columns: 90% 10%;
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 10px 15px;
    margin: 8px;
    background-color: white;
    border-radius: 5px;
}

.title .heading {
    display: block;
}

.price-heading {
    display: inline-block;
    text-align: right;
    color: #565959;
    margin-top: auto;
    font-size: 16px;
}

.order-container {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
}

img.order-image {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
}

div.order-info-container>p {
    margin-top: 8px;
    color: #66757f;
    font-size: 14px;
}

.order-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(47, 46, 65);
}

.price-column {
    color: #b12704;
    font-size: 17px;
    font-weight: 600;
    line-height: 36px;
    display: inline-block;
    text-align: right;
    margin-right: 0px;
}

#empty-order-container {
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
    height: 210px;
}

#empty-order-container span {
    margin-left: auto;
    display: block;
    text-align: right;
    color: #565959;
    font-size: 16px;
}

#summary-container {
    box-shadow: 0px 0px 2px rgb(238, 237, 237);
    padding: 10px 15px;
    margin: 8px;
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
}

#summary-container p {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

#summary-container button {
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 9px 25px;
    background-color: #ffd814;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
}

#summary-container button:hover {
    background-color: #e9c303;
}

#total-price {
    font-weight: bold;
}

.quantity-container {
    margin-top: 15px;
    background-color: #f0f2f2;
    display: inline-block;
    border: 0.1px solid #b8b5b5;
    border-radius: 4px;
}

.order-quantity {
    background-color: white;
    padding: 3px 13px;
    border-left: 0.1px solid #b8b5b5;
    border-right: 0.1px solid #b8b5b5;
    color: #131921;
    font-size: 16px;
    font-weight: bold;
}

.fa-minus,
.fa-plus {
    font-size: 15px;
    padding: 5px 5px;
    color: black;
}

.left-column {
    display: grid;
    grid-template-rows: 85% 15%;
}

.trash-icon {
    display: block;
    width: fit-content;
    margin-left: auto;
    background-color: #eceff0;
    font-size: 16px;
    padding: 7px;
    border-radius: 100%;
    color: #484848;
    transition: all 0.3s ease 0s;
}

.trash-icon:hover {
    color: red;
}